---
import Layout from '../layouts/Layout.astro';
import HeroTelegram from '../components/HeroTelegram.astro';
import FeaturedNav from '../components/FeaturedNav.astro';
import Icon from '../components/Icon.astro';

import FeaturedStat from '../components/FeaturedStat.astro';
import Testimonial from '../components/Testimonial.astro';
import FeaturedGeneral from '../components/FeaturedGeneral.astro';
import ClickToAction from '../components/ClickToAction.astro';
---

<Layout path="/">
	<div slot="main">
		<div class=""><HeroTelegram /></div>
		<div class="max-w-5xl mx-auto w-full">
			<Icon />
			<FeaturedStat />
			<FeaturedNav />
			<FeaturedGeneral />
			<Testimonial />
			<ClickToAction />
		</div>
	</div>
</Layout>
