---
---

<div class="pt-10 md:pt-24">
	<div class="max-w-5xl px-4 sm:px-6 lg:px-8 mx-auto pb-12">
		<div class="max-w-xl lg:max-w-4xl text-center mx-auto">
			<h1
				class="text-3xl leading-snug font-bold sm:text-6xl sm:leading-tight lg:text-7xl lg:leading-tight text-black balance"
			>
				<span
					class="relative text-blue-600 before:bg-[url('/Microsoft-Fluentui-Emoji-3d-Smiling-Face-With-Sunglasses-3d.svg')] before:absolute before:top-0 before:right-0 before:z-10 before:bg-[length:24px_24px] before:w-6 before:h-6 before:block before:-mr-2 before:mt-2 before:-rotate-12 sm:before:bg-[length:32px_32px] sm:before:w-8 sm:before:h-8 mr-3"
					>Gratis
				</span>bergabung dengan Diskusi Pajak
				<!-- <span class="block">di Indonesia</span> -->
			</h1><p class="mt-3 md:mt-5 md:text-lg text-zinc-600  max-w-2xl mx-auto balance font-body">
				memberikan informasi dan panduan tentang berbagai aspek peraturan dan undang-undang pajak.
			</p><!-- Buttons -->
			<div class="mt-8 grid gap-3 w-full sm:justify-center sm:inline-flex">
				<a
					class="inline-flex justify-center items-center gap-x-3 text-center bg-blue-600 hover:bg-blue-700 border border-transparent text-white text-sm font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-white transition py-3 px-4 sm:text-base"
					href="https://t.me/addlist/HXeQGfBQr9ZjNzA1"
					target="_blank"
					><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-telegram h-5 w-5" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4"></path>
					 </svg>Gabung Grup Telegram
					<svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none"
						><path
							d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"></path></svg
					></a>
			</div><!-- End Buttons -->
		</div>
	</div>
</div>

<style>
	
</style>