---
---
<!-- Features -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Grid -->
    <div class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32">
      <div>
        <img class="rounded-xl" src="https://illustrations.popsy.co/amber/engineer.svg" alt="Image Description">
      </div>
      <!-- End Col -->
  
      <div class="mt-5 sm:mt-10 lg:mt-0">
        <div class="space-y-6 sm:space-y-8">
          <!-- Title -->
          <div class="space-y-2 md:space-y-4">
            <h2 class="font-bold text-3xl lg:text-4xl text-gray-800">
                Beberapa tools yang kami gunakan
            </h2>
           
          </div>
          <!-- End Title -->
  
          <!-- List -->
          <ul role="list" class="space-y-2 sm:space-y-4">
            <li class="flex space-x-3">
              <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 h-6 w-6 text-blue-10" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
             </svg>
  
              <span class="text-sm sm:text-base text-gray-11">
                <span class="font-bold text-gray-12">Microsoft Teams</span>, Tempat diskusi lebih komprehensif.
              </span>
            </li>
  
            <li class="flex space-x-3">
              <!-- Solid Check -->
              <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 h-6 w-6 text-blue-10" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
             </svg>
              <!-- End Solid Check -->
  
              <span class="text-sm sm:text-base text-gray-11"><span class="font-bold text-gray-12">Microsoft Sharepoint</span>, Situs web yang digunakan sebagai tempat untuk menyimpan, menata, berbagi, dan mengakses informasi perpajakan.
              </span>
            </li>
  
            <li class="flex space-x-3">
              <!-- Solid Check -->
              <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 h-6 w-6 text-blue-10" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
             </svg>
              <!-- End Solid Check -->
  
              <span class="text-sm sm:text-base text-gray-11">
                <span class="font-bold text-gray-12">Email Business</span>, setiap user akan mendapatkan akun dengan domain [user]@pajak365.id yang dapat digunakan sebagai alamat email business.
              </span>
            </li>
          </ul>
          <!-- End List -->
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Features -->