---

---

<section class="">
	<div class="py-8 lg:py-16 mx-auto px-4 overflow-x-hidden">
		<h2
			class="mb-8 lg:mb-16 text-3xl font-semibold tracking-tight leading-tight text-center text-gray-900 md:text-4xl"
		>
			Aplikasi yang dapat digunakan
		</h2>
		<div
			class="grid grid-cols-2 gap-8 sm:gap-12 md:grid-cols-5 lg:grid-cols-10  whitespace-nowrap"
		>
            <a href="#" class="flex justify-center items-center">
				<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="96" height="96" viewBox="0 0 48 48">
                    <path fill="#5059c9" d="M44,22v8c0,3.314-2.686,6-6,6s-6-2.686-6-6V20h10C43.105,20,44,20.895,44,22z M38,16	c2.209,0,4-1.791,4-4c0-2.209-1.791-4-4-4s-4,1.791-4,4C34,14.209,35.791,16,38,16z"></path><path fill="#7b83eb" d="M35,22v11c0,5.743-4.841,10.356-10.666,9.978C19.019,42.634,15,37.983,15,32.657V20h18	C34.105,20,35,20.895,35,22z M25,17c3.314,0,6-2.686,6-6s-2.686-6-6-6s-6,2.686-6,6S21.686,17,25,17z"></path><circle cx="25" cy="11" r="6" fill="#7b83eb"></circle><path d="M26,33.319V20H15v12.657c0,1.534,0.343,3.008,0.944,4.343h6.374C24.352,37,26,35.352,26,33.319z" opacity=".05"></path><path d="M15,20v12.657c0,1.16,0.201,2.284,0.554,3.343h6.658c1.724,0,3.121-1.397,3.121-3.121V20H15z" opacity=".07"></path><path d="M24.667,20H15v12.657c0,0.802,0.101,1.584,0.274,2.343h6.832c1.414,0,2.56-1.146,2.56-2.56V20z" opacity=".09"></path><linearGradient id="DqqEodsTc8fO7iIkpib~Na_zQ92KI7XjZgR_gr1" x1="4.648" x2="23.403" y1="14.648" y2="33.403" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#5961c3"></stop><stop offset="1" stop-color="#3a41ac"></stop></linearGradient><path fill="url(#DqqEodsTc8fO7iIkpib~Na_zQ92KI7XjZgR_gr1)" d="M22,34H6c-1.105,0-2-0.895-2-2V16c0-1.105,0.895-2,2-2h16c1.105,0,2,0.895,2,2v16	C24,33.105,23.105,34,22,34z"></path><path fill="#fff" d="M18.068,18.999H9.932v1.72h3.047v8.28h2.042v-8.28h3.047V18.999z"></path>
                    </svg>
			</a>
			<a href="#" class="flex justify-center items-center">
				<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="96" height="96" viewBox="0 0 48 48">
					<linearGradient id="NqAl5bicO~9wmXV3Tvu1Ra_PnENrLMMW4eV_gr1" x1="24.5" x2="24.5" y1="7.032" y2="22.852" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#0571bf"></stop><stop offset="1" stop-color="#0268ba"></stop></linearGradient><path fill="url(#NqAl5bicO~9wmXV3Tvu1Ra_PnENrLMMW4eV_gr1)" d="M24.5,7C16.492,7,10,13.492,10,21.5S16.492,36,24.5,36S39,29.508,39,21.5S32.508,7,24.5,7	L24.5,7z"></path><linearGradient id="NqAl5bicO~9wmXV3Tvu1Rb_PnENrLMMW4eV_gr2" x1="14.228" x2="14.228" y1="14.219" y2="32.761" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#1684da"></stop><stop offset="1" stop-color="#107cd4"></stop></linearGradient><path fill="url(#NqAl5bicO~9wmXV3Tvu1Rb_PnENrLMMW4eV_gr2)" d="M16.155,14.972c-1.32-0.505-2.753-0.781-4.25-0.781C5.33,14.191,0,19.521,0,26.096	c0,2.476,0.757,4.774,2.05,6.678c0.061-0.026,16.445-6.889,26.406-10.888C22.952,18.568,17.903,15.641,16.155,14.972z"></path><linearGradient id="NqAl5bicO~9wmXV3Tvu1Rc_PnENrLMMW4eV_gr3" x1="38.228" x2="38.228" y1="18.746" y2="34.097" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#138cdd"></stop><stop offset="1" stop-color="#0c7dd4"></stop></linearGradient><path fill="url(#NqAl5bicO~9wmXV3Tvu1Rc_PnENrLMMW4eV_gr3)" d="M48,28.373c0-5.317-4.31-9.627-9.627-9.627c-0.997,0-1.958,0.152-2.863,0.433	c-0.996,0.31-3.652,1.342-7.054,2.708c8.377,5.05,17.79,10.996,18.252,11.288C47.525,31.76,48,30.123,48,28.373z"></path><linearGradient id="NqAl5bicO~9wmXV3Tvu1Rd_PnENrLMMW4eV_gr4" x1="17.13" x2="31.145" y1="24.083" y2="41.333" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#27a7ea"></stop><stop offset="1" stop-color="#1c94e3"></stop></linearGradient><path fill="url(#NqAl5bicO~9wmXV3Tvu1Rd_PnENrLMMW4eV_gr4)" d="M46.709,33.175c-0.463-0.292-9.875-6.238-18.252-11.288	C18.495,25.885,2.111,32.748,2.05,32.774C2.467,33.388,5.627,38,11.904,38c5.03,0,16.176,0,26.354,0	C43.669,38,46.148,34.146,46.709,33.175z"></path>
					</svg>
			</a>

			<a href="#" class="flex justify-center items-center">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 48 48"
					width="96px"
					height="96px"
					><linearGradient
						id="1~WE0Lz3GgLZUex~1j_nwa"
						x1="10.281"
						x2="24.742"
						y1="1.322"
						y2="16.996"
						gradientUnits="userSpaceOnUse"
						><stop offset="0" stop-color="#196de5"></stop><stop
							offset="1"
							stop-color="#1351c8"></stop></linearGradient
					><path
						fill="url(#1~WE0Lz3GgLZUex~1j_nwa)"
						d="M4.662,6.941c-0.001,0-0.003,0-0.004,0c-1.42,0-2.179,1.675-1.241,2.743L16,24L30.869,7.159 c-0.241-0.101-0.501-0.16-0.768-0.161L4.662,6.941z"
					></path><linearGradient
						id="1~WE0Lz3GgLZUex~1j_nwb"
						x1="17.184"
						x2="27.74"
						y1="23.368"
						y2="36.213"
						gradientUnits="userSpaceOnUse"
						><stop offset="0" stop-color="#4d9fff"></stop><stop
							offset="1"
							stop-color="#1667eb"></stop></linearGradient
					><path
						fill="url(#1~WE0Lz3GgLZUex~1j_nwb)"
						d="M38.056,14.996l-6.46-7.322c-0.202-0.229-0.452-0.401-0.727-0.516L16,24L3.457,38.215 c-0.951,1.078-0.192,2.769,1.24,2.782l10.785-0.007L38.056,14.996z"
					></path><linearGradient
						id="1~WE0Lz3GgLZUex~1j_nwc"
						x1="27.324"
						x2="33.437"
						y1="27.209"
						y2="37.448"
						gradientUnits="userSpaceOnUse"
						><stop offset="0" stop-color="#70bcfd"></stop><stop
							offset="1"
							stop-color="#4a9ff9"></stop></linearGradient
					><path
						fill="url(#1~WE0Lz3GgLZUex~1j_nwc)"
						d="M44.217,21.982l-6.161-6.985L15.482,41l14.796-0.01c0.506-0.046,0.98-0.273,1.319-0.658 l12.62-14.308C45.236,24.87,45.236,23.137,44.217,21.982z"
					></path><path
						d="M16,24L30.869,7.159c-0.241-0.101-0.501-0.16-0.768-0.161l-0.423-0.001 L15.336,23.245L16,24z"
						opacity=".05"></path><path
						d="M15.669,23.624L16,24L30.869,7.159c-0.173-0.073-0.358-0.114-0.546-0.137 L15.669,23.624z"
						opacity=".07"></path></svg
				>
			</a>
			<a href="#" class="flex justify-center items-center">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 48 48"
					width="96px"
					height="96px"
					><path
						fill="#e65100"
						d="M36.883,7.341C38.726,7.85,40,9.508,40,11.397v25.162c0,1.906-1.301,3.57-3.168,4.065L25.29,43.863 L29,36V11l-3.148-6.885L36.883,7.341z"
					></path><path
						fill="#b71c1c"
						d="M29,35v3.927c0,3.803-3.824,6.249-7.019,4.491l-6.936-4.445c-0.802-0.466-1.236-1.462-0.964-2.457 C14.334,35.59,15.202,35,16.115,35L29,35z"
					></path><path
						fill="#b71c1c"
						d="M15.456,32.228l-3.4,1.502C10.694,34.532,9,33.518,9,31.901V14.904c0-1.536,0.811-2.95,2.116-3.691 l11.83-6.687C25.669,2.983,29,5.014,29,8.218v3.09l-10.037,3.486C17.78,15.263,17,16.436,17,17.743v11.742 C17,30.618,16.41,31.665,15.456,32.228z"
					></path></svg
				>
			</a>
			<a href="#" class="flex justify-center items-center">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 48 48"
					width="96px"
					height="96px"
					><path
						fill="#169154"
						d="M29,6H15.744C14.781,6,14,6.781,14,7.744v7.259h15V6z"></path><path
						fill="#18482a"
						d="M14,33.054v7.202C14,41.219,14.781,42,15.743,42H29v-8.946H14z"
					></path><path fill="#0c8045" d="M14 15.003H29V24.005000000000003H14z"
					></path><path fill="#17472a" d="M14 24.005H29V33.055H14z"></path><g
						><path
							fill="#29c27f"
							d="M42.256,6H29v9.003h15V7.744C44,6.781,43.219,6,42.256,6z"
						></path><path
							fill="#27663f"
							d="M29,33.054V42h13.257C43.219,42,44,41.219,44,40.257v-7.202H29z"
						></path><path
							fill="#19ac65"
							d="M29 15.003H44V24.005000000000003H29z"></path><path
							fill="#129652"
							d="M29 24.005H44V33.055H29z"></path></g
					><path
						fill="#0c7238"
						d="M22.319,34H5.681C4.753,34,4,33.247,4,32.319V15.681C4,14.753,4.753,14,5.681,14h16.638 C23.247,14,24,14.753,24,15.681v16.638C24,33.247,23.247,34,22.319,34z"
					></path><path
						fill="#fff"
						d="M9.807 19L12.193 19 14.129 22.754 16.175 19 18.404 19 15.333 24 18.474 29 16.123 29 14.013 25.07 11.912 29 9.526 29 12.719 23.982z"
					></path></svg
				>
			</a>
            <a href="#" class="flex justify-center items-center">
				<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="96" height="96" viewBox="0 0 48 48">
                    <linearGradient id="Q7XamDf1hnh~bz~vAO7C6a_pGHcje298xSl_gr1" x1="28" x2="28" y1="14.966" y2="6.45" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#42a3f2"></stop><stop offset="1" stop-color="#42a4eb"></stop></linearGradient><path fill="url(#Q7XamDf1hnh~bz~vAO7C6a_pGHcje298xSl_gr1)" d="M42,6H14c-1.105,0-2,0.895-2,2v7.003h32V8C44,6.895,43.105,6,42,6z"></path><linearGradient id="Q7XamDf1hnh~bz~vAO7C6b_pGHcje298xSl_gr2" x1="28" x2="28" y1="42" y2="33.054" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#11408a"></stop><stop offset="1" stop-color="#103f8f"></stop></linearGradient><path fill="url(#Q7XamDf1hnh~bz~vAO7C6b_pGHcje298xSl_gr2)" d="M12,33.054V40c0,1.105,0.895,2,2,2h28c1.105,0,2-0.895,2-2v-6.946H12z"></path><linearGradient id="Q7XamDf1hnh~bz~vAO7C6c_pGHcje298xSl_gr3" x1="28" x2="28" y1="-15.46" y2="-15.521" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#3079d6"></stop><stop offset="1" stop-color="#297cd2"></stop></linearGradient><path fill="url(#Q7XamDf1hnh~bz~vAO7C6c_pGHcje298xSl_gr3)" d="M12,15.003h32v9.002H12V15.003z"></path><linearGradient id="Q7XamDf1hnh~bz~vAO7C6d_pGHcje298xSl_gr4" x1="12" x2="44" y1="28.53" y2="28.53" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#1d59b3"></stop><stop offset="1" stop-color="#195bbc"></stop></linearGradient><path fill="url(#Q7XamDf1hnh~bz~vAO7C6d_pGHcje298xSl_gr4)" d="M12,24.005h32v9.05H12V24.005z"></path><path d="M22.319,13H12v24h10.319C24.352,37,26,35.352,26,33.319V16.681C26,14.648,24.352,13,22.319,13z" opacity=".05"></path><path d="M22.213,36H12V13.333h10.213c1.724,0,3.121,1.397,3.121,3.121v16.425	C25.333,34.603,23.936,36,22.213,36z" opacity=".07"></path><path d="M22.106,35H12V13.667h10.106c1.414,0,2.56,1.146,2.56,2.56V32.44C24.667,33.854,23.52,35,22.106,35z" opacity=".09"></path><linearGradient id="Q7XamDf1hnh~bz~vAO7C6e_pGHcje298xSl_gr5" x1="4.744" x2="23.494" y1="14.744" y2="33.493" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#256ac2"></stop><stop offset="1" stop-color="#1247ad"></stop></linearGradient><path fill="url(#Q7XamDf1hnh~bz~vAO7C6e_pGHcje298xSl_gr5)" d="M22,34H6c-1.105,0-2-0.895-2-2V16c0-1.105,0.895-2,2-2h16c1.105,0,2,0.895,2,2v16	C24,33.105,23.105,34,22,34z"></path><path fill="#fff" d="M18.403,19l-1.546,7.264L15.144,19h-2.187l-1.767,7.489L9.597,19H7.641l2.344,10h2.352l1.713-7.689	L15.764,29h2.251l2.344-10H18.403z"></path>
                    </svg>
			</a>
            <!-- powerpoint -->
            <a href="#" class="flex justify-center items-center">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 48 48"
					width="96px"
					height="96px"
					><path
						fill="#d35230"
						d="M8,24c0,9.941,8.059,18,18,18s18-8.059,18-18H26H8z"></path><path
						fill="#ff8f6b"
						d="M26,6v18h18C44,14.059,35.941,6,26,6z"></path><path
						fill="#ed6c47"
						d="M26,6C16.059,6,8,14.059,8,24h18V6z"></path><path
						d="M26,16.681C26,14.648,24.352,13,22.319,13H11.774C9.417,16.044,8,19.852,8,24	c0,5.116,2.145,9.723,5.571,13h8.747C24.352,37,26,35.352,26,33.319V16.681z"
						opacity=".05"></path><path
						d="M22.213,13.333H11.525C9.32,16.321,8,20.002,8,24c0,4.617,1.753,8.814,4.611,12h9.602	c1.724,0,3.121-1.397,3.121-3.121V16.454C25.333,14.731,23.936,13.333,22.213,13.333z"
						opacity=".07"></path><path
						d="M22.106,13.667H11.276C9.218,16.593,8,20.151,8,24c0,4.148,1.417,7.956,3.774,11h10.332	c1.414,0,2.56-1.146,2.56-2.56V16.227C24.667,14.813,23.52,13.667,22.106,13.667z"
						opacity=".09"></path><linearGradient
						id="N~uyq1CljjkKMh72IFt0Fa"
						x1="4.586"
						x2="22.77"
						y1="14.586"
						y2="32.77"
						gradientUnits="userSpaceOnUse"
						><stop offset="0" stop-color="#ca4e2a"></stop><stop
							offset="1"
							stop-color="#b63016"></stop></linearGradient
					><path
						fill="url(#N~uyq1CljjkKMh72IFt0Fa)"
						d="M22,34H6c-1.105,0-2-0.895-2-2V16c0-1.105,0.895-2,2-2h16c1.105,0,2,0.895,2,2v16	C24,33.105,23.105,34,22,34z"
					></path><path
						fill="#fff"
						d="M14.673,19.012H10v10h2.024v-3.521H14.3c1.876,0,3.397-1.521,3.397-3.397v-0.058	C17.697,20.366,16.343,19.012,14.673,19.012z M15.57,22.358c0,0.859-0.697,1.556-1.556,1.556h-1.99v-3.325h1.99	c0.859,0,1.556,0.697,1.556,1.556V22.358z"
					></path></svg
				>
			</a>
            <!-- onenote -->
            <a href="#" class="flex justify-center items-center">
				<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="96" height="96" viewBox="0 0 48 48">
                    <linearGradient id="e4t2Q3zu0NW9dfIUK4ZJaa_yTtdbCPCXVuI_gr1" x1="12" x2="44" y1="24" y2="24" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#c965eb"></stop><stop offset="1" stop-color="#c767e5"></stop></linearGradient><path fill="url(#e4t2Q3zu0NW9dfIUK4ZJaa_yTtdbCPCXVuI_gr1)" d="M42,6H14c-1.105,0-2,0.895-2,2v32c0,1.105,0.895,2,2,2h21V15.003h9V8C44,6.895,43.105,6,42,6z"></path><linearGradient id="e4t2Q3zu0NW9dfIUK4ZJab_yTtdbCPCXVuI_gr2" x1="39.5" x2="39.5" y1="42" y2="33.054" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#7819a2"></stop><stop offset="1" stop-color="#771aa9"></stop></linearGradient><path fill="url(#e4t2Q3zu0NW9dfIUK4ZJab_yTtdbCPCXVuI_gr2)" d="M35,33.054V42h7c1.105,0,2-0.895,2-2v-6.945L35,33.054L35,33.054z"></path><linearGradient id="e4t2Q3zu0NW9dfIUK4ZJac_yTtdbCPCXVuI_gr3" x1="35" x2="44" y1="19.504" y2="19.504" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ae4cd5"></stop><stop offset="1" stop-color="#ac4ad5"></stop></linearGradient><path fill="url(#e4t2Q3zu0NW9dfIUK4ZJac_yTtdbCPCXVuI_gr3)" d="M35,15.003h9v9.002h-9V15.003z"></path><linearGradient id="e4t2Q3zu0NW9dfIUK4ZJad_yTtdbCPCXVuI_gr4" x1="35" x2="44" y1="28.53" y2="28.53" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#912fbd"></stop><stop offset="1" stop-color="#9332bf"></stop></linearGradient><path fill="url(#e4t2Q3zu0NW9dfIUK4ZJad_yTtdbCPCXVuI_gr4)" d="M35,24.005h9v9.05h-9V24.005z"></path><path d="M22.319,13H12v24h10.319C24.352,37,26,35.352,26,33.319V16.681C26,14.648,24.352,13,22.319,13z" opacity=".05"></path><path d="M22.213,36H12V13.333h10.213c1.724,0,3.121,1.397,3.121,3.121v16.425	C25.333,34.603,23.936,36,22.213,36z" opacity=".07"></path><path d="M22.106,35H12V13.667h10.106c1.414,0,2.56,1.146,2.56,2.56V32.44C24.667,33.854,23.52,35,22.106,35z" opacity=".09"></path><linearGradient id="e4t2Q3zu0NW9dfIUK4ZJae_yTtdbCPCXVuI_gr5" x1="4.586" x2="23.414" y1="14.586" y2="33.414" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#8521b0"></stop><stop offset="1" stop-color="#64129a"></stop></linearGradient><path fill="url(#e4t2Q3zu0NW9dfIUK4ZJae_yTtdbCPCXVuI_gr5)" d="M22,34H6c-1.105,0-2-0.895-2-2V16c0-1.105,0.895-2,2-2h16c1.105,0,2,0.895,2,2v16	C24,33.105,23.105,34,22,34z"></path><path fill="#fff" d="M16.501,19v7.393L11.779,19H9.59v10h1.909v-7.45L16.258,29h2.152V19H16.501z"></path>
                    </svg>
			</a>
			<!-- sharepoint -->
            <a href="#" class="flex justify-center items-center">
				<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="96" height="96" viewBox="0 0 48 48">
					<linearGradient id="PtC3nmzn5K~Q855MdLFzFa_bVAf0kiXtJhO_gr1" x1="16.145" x2="26.377" y1="6.428" y2="20.715" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#048489"></stop><stop offset="1" stop-color="#03676a"></stop></linearGradient><path fill="url(#PtC3nmzn5K~Q855MdLFzFa_bVAf0kiXtJhO_gr1)" d="M23,4c-6.627,0-12,5.373-12,12s5.373,12,12,12s12-5.373,12-12S29.627,4,23,4z"></path><linearGradient id="PtC3nmzn5K~Q855MdLFzFb_bVAf0kiXtJhO_gr2" x1="27.122" x2="41.023" y1="18.616" y2="35.799" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#18939a"></stop><stop offset=".41" stop-color="#168c93"></stop><stop offset="1" stop-color="#117981"></stop></linearGradient><path fill="url(#PtC3nmzn5K~Q855MdLFzFb_bVAf0kiXtJhO_gr2)" d="M33.5,16C27.701,16,23,20.701,23,26.5S27.701,37,33.5,37S44,32.299,44,26.5S39.299,16,33.5,16	z"></path><linearGradient id="PtC3nmzn5K~Q855MdLFzFc_bVAf0kiXtJhO_gr3" x1="16" x2="32" y1="36" y2="36" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#37c6d0"></stop><stop offset="1" stop-color="#37c6d0"></stop></linearGradient><path fill="url(#PtC3nmzn5K~Q855MdLFzFc_bVAf0kiXtJhO_gr3)" d="M24,28c-4.418,0-8,3.582-8,8s3.582,8,8,8s8-3.582,8-8S28.418,28,24,28z"></path><path d="M22.319,13H11.393C11.146,13.961,11,14.962,11,16c0,6.627,5.373,12,12,12	c0.04,0,0.078-0.006,0.118-0.006c0.003,0.019,0.006,0.037,0.009,0.056C19.12,28.485,16,31.877,16,36c0,0.339,0.028,0.672,0.069,1	h6.25C24.352,37,26,35.352,26,33.319V16.681C26,14.648,24.352,13,22.319,13z" opacity=".05"></path><path d="M16,36h6.213c1.724,0,3.121-1.397,3.121-3.121V16.454c0-1.724-1.397-3.121-3.121-3.121H11.308	C11.112,14.192,11,15.082,11,16c0,6.627,5.373,12,12,12c0.04,0,0.078-0.006,0.118-0.006c0.003,0.019,0.006,0.037,0.009,0.056	C19.12,28.485,16,31.877,16,36z" opacity=".07"></path><path d="M22.106,13.667H11.231C11.082,14.422,11,15.201,11,16c0,6.627,5.373,12,12,12	c0.04,0,0.078-0.006,0.118-0.006c0.003,0.019,0.006,0.037,0.009,0.056c-3.677,0.4-6.6,3.291-7.057,6.95h6.037	c1.414,0,2.56-1.146,2.56-2.56V16.227C24.667,14.813,23.52,13.667,22.106,13.667z" opacity=".09"></path><linearGradient id="PtC3nmzn5K~Q855MdLFzFd_bVAf0kiXtJhO_gr4" x1="4.586" x2="23.414" y1="14.586" y2="33.414" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#058f92"></stop><stop offset="1" stop-color="#027074"></stop></linearGradient><path fill="url(#PtC3nmzn5K~Q855MdLFzFd_bVAf0kiXtJhO_gr4)" d="M22,34H6c-1.105,0-2-0.895-2-2V16c0-1.105,0.895-2,2-2h16c1.105,0,2,0.895,2,2v16	C24,33.105,23.105,34,22,34z"></path><path fill="#fff" d="M10.432,28.75v-2.298c0.426,0.349,2.391,1.048,2.9,1.048c0.299,0,2.138,0.088,2.138-1.041	c0-1.633-5.082-1.494-5.082-4.725c0-0.536,0.066-3.059,4.133-3.059c1.041,0,2.271,0.261,2.628,0.395v2.147	c-0.176-0.12-0.89-0.718-2.496-0.718c-1.877,0-2.04,0.883-2.04,1.041c0,1.359,4.998,1.544,4.998,4.711	c0,3.172-3.614,3.074-4.177,3.074C12.857,29.325,10.814,28.942,10.432,28.75z"></path>
					</svg>
			</a>
<!-- exchange -->
			<a href="#" class="flex justify-center items-center">
				<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="96" height="96" viewBox="0 0 48 48">
					<path fill="#28a8ea" d="M43,8v9.757c0,0.796-0.316,1.559-0.879,2.121L20.879,41.121C20.316,41.684,19.553,42,18.757,42H9	c-1.105,0-2-0.895-2-2v-9.757c0-0.796,0.316-1.559,0.879-2.121L29.121,6.879C29.684,6.316,30.447,6,31.243,6H41	C42.105,6,43,6.895,43,8z"></path><path fill="#0078d4" d="M43,30.24V40c0,1.105-0.895,2-2,2h-9.76c-0.794,0-1.556-0.315-2.117-0.877L25,37v-8	c0-2.761,2.239-5,5-5h8l4.123,4.123C42.685,28.685,43,29.446,43,30.24z"></path><path fill="#50d9ff" d="M7,17.76V8c0-1.105,0.895-2,2-2h9.76c0.794,0,1.556,0.315,2.117,0.877L25,11v8c0,2.761-2.239,5-5,5	h-8l-4.123-4.123C7.315,19.315,7,18.554,7,17.76z"></path><path d="M21.319,13H7v24h14.319C23.352,37,25,35.352,25,33.319V16.681C25,14.648,23.352,13,21.319,13z" opacity=".05"></path><path d="M21.213,36H7V13.333h14.213c1.724,0,3.121,1.397,3.121,3.121v16.425	C24.333,34.603,22.936,36,21.213,36z" opacity=".07"></path><path d="M21.106,35H7V13.667h14.106c1.414,0,2.56,1.146,2.56,2.56V32.44C23.667,33.854,22.52,35,21.106,35z" opacity=".09"></path><linearGradient id="_A5CxrPmvj_opSvbtLArAa_kZdpOG8fSAVs_gr1" x1="3.713" x2="22.707" y1="14.713" y2="33.707" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#1683d9"></stop><stop offset="1" stop-color="#0b66cb"></stop></linearGradient><path fill="url(#_A5CxrPmvj_opSvbtLArAa_kZdpOG8fSAVs_gr1)" d="M21,34H5c-1.105,0-2-0.895-2-2V16c0-1.105,0.895-2,2-2h16c1.105,0,2,0.895,2,2v16	C23,33.105,22.105,34,21,34z"></path><path fill="#fff" d="M16.023,20.625h-4.317v2.524h4.041v1.618h-4.041v2.622h4.547V29H9.747V19h6.276L16.023,20.625z"></path>
					</svg>
			</a>
		</div>
	</div>
</section>
