---
---

<!-- Features -->
<div id="pricing" class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Title -->
    <div class="mx-auto max-w-2xl mb-8 lg:mb-14 text-center">
      <h2 class="text-3xl lg:text-4xl text-gray-800 font-bold dark:text-gray-200">
        Penawaran Terbatas
      </h2>
    </div>
    <!-- End Title -->
  
    <div class="relative xl:w-full xl:mx-auto">
      <!-- Grid -->
      <div class="grid grid-cols-1 lg:grid-cols-1 gap-6 relative before:absolute before:inset-0 before:-z-[1] before:bg-[radial-gradient(closest-side,#22d3ee,#E2E8F0,transparent)] dark:before:bg-[radial-gradient(closest-side,#22d3ee,#2563eb,transparent)]">
          

      <!-- awal a -->
      <a class="unset md:order-1 relative before:absolute before:inset-0 before:z-10 before:border before:border-gray-200 before:rounded-xl before:transition before:hover:border-2 before:hover:border-blue-600 before:hover:shadow-lg dark:before:border-gray-800 dark:before:hover:border-blue-500" href="https://invoice.xendit.co/od/teams-satu-tahun" data-uno-hassubmittext="no" target="_blank">
        <div class="relative overflow-hidden w-full h-full rounded-xl">
          <div class="p-6 flex flex-col justify-center items-center md:min-h-[360px] text-center rounded-xl dark:border-gray-700">
            <p class="bg-clip-text bg-gradient-to-l from-orange-400 via-pink-500 to-fuchsia-700 text-transparent text-xs font-semibold uppercase">
              Pembayaran per tahun s.d. Agustus 2024
            </p>
            <span class="bg-clip-text bg-gradient-to-l from-cyan-400 to-blue-600 text-transparent text-6xl font-semibold font-heading">
                <span class="text-lg font-bold ">Rp.</span>500<span class="text-lg font-bold">.000</span>
            </span>
            <h3 class="mt-6 text-lg md:text-xl font-semibold text-gray-800 dark:text-gray-200">
                Dapatkan semua materi perpajakan. dan akses ke diskusi pajak bersama praktisi perpajakan.
            </h3>
            <!-- <p class="mt-2 text-gray-500">
              Pembayaran via Xendit
            </p> -->
            <p class="mt-6 inline-flex justify-center items-center gap-x-3 text-center bg-blue-600 hover:bg-blue-700 border border-transparent text-white text-sm font-medium rounded-lg py-3 px-4">
              Pembayaran Via Xendit
              <svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
              </svg>
            </p>

            <p class="text-xs text-gray-400 mt-6">
                Metode pembayaran menggunakan virtual account, eWallets, Kartu, atau QRIS
              </p>
          </div>

          <div class="absolute top-0 inset-x-0 -z-[1] w-full h-full">
            <svg class="w-full h-full" width="411" height="476" viewBox="0 0 411 476" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle opacity="0.4" cx="401.833" cy="560.5" r="317" stroke="#DDD6FE" stroke-dasharray="3 0"></circle>
              <circle opacity="0.6" cx="401.833" cy="560.5" r="245" stroke="#DDD6FE" stroke-dasharray="3 0"></circle>
              <circle opacity="0.8" cx="401.833" cy="560.5" r="168" stroke="#DDD6FE" stroke-dasharray="3 0"></circle>
              <circle cx="401.833" cy="560.5" r="99" stroke="#DDD6FE" stroke-dasharray="3 0"></circle>
              <g filter="url(#filter0_f_6966_190348)">
                <rect x="281.333" y="498" width="240.294" height="124.936" fill="#DAEAFF" fill-opacity="0.9"></rect>
              </g>
              <g filter="url(#filter1_f_6966_190348)">
                <rect x="233.333" y="-177" width="240.294" height="124.936" fill="#E2CCFF" fill-opacity="0.35"></rect>
              </g>
              <g filter="url(#filter2_f_6966_190348)">
                <rect x="233.333" y="-177" width="240.294" height="124.936" fill="#DAEAFF" fill-opacity="0.5"></rect>
              </g>
              <g filter="url(#filter3_f_6966_190348)">
                <rect x="81.5195" y="194.5" width="240.294" height="124.936" fill="#E2CCFF" fill-opacity="0.35"></rect>
              </g>
              <defs>
                <filter id="filter0_f_6966_190348" x="81.3333" y="298" width="640.294" height="524.936" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                  <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
                  <feGaussianBlur stdDeviation="100" result="effect1_foregroundBlur_6966_190348"></feGaussianBlur>
                </filter>
                <filter id="filter1_f_6966_190348" x="33.3333" y="-377" width="640.294" height="524.936" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                  <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
                  <feGaussianBlur stdDeviation="100" result="effect1_foregroundBlur_6966_190348"></feGaussianBlur>
                </filter>
                <filter id="filter2_f_6966_190348" x="33.3333" y="-377" width="640.294" height="524.936" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                  <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
                  <feGaussianBlur stdDeviation="100" result="effect1_foregroundBlur_6966_190348"></feGaussianBlur>
                </filter>
                <filter id="filter3_f_6966_190348" x="-118.48" y="-5.5" width="640.294" height="524.936" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                  <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
                  <feGaussianBlur stdDeviation="100" result="effect1_foregroundBlur_6966_190348"></feGaussianBlur>
                </filter>
              </defs>
            </svg>
          </div>
        </div>
      </a>
      <!-- akhir a -->
  
     
    </div>
  
    <!-- <div class="mt-7 text-center">
      <p class="text-xs text-gray-400">
        Prices in USD. Taxes may apply.
      </p>
    </div> -->
  </div>
  <!-- End Features -->
  
  